# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Logs
logs/
*.log
npm-debug.log*

# Build files
dist/
build/

# Coverage
coverage/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/

# Uploads (if generated dynamically)
uploads/

# Database files (if any local DB)
*.sqlite
*.db

# Misc
*.pid
*.seed
node_modules
.env
serviceAccountKey.json